
  
  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Basic Infos</h3>
  </div>
  <div class="panel-body">
	<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
	  <div class="control-group">
	    <%= f.label :name, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :name, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :description, :class => 'control-label' %>
	    <div class="controls">
	    	<span>
	      <%= f.text_area :description, :class => 'text_field', :style => 'width:300px; height:300px;' %>
	      <%= image_tag @product.image.url %>
	      </span>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :price, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :price, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :category, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :category, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :season, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :season, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label 'main image', :class => 'control-label' %>
	    <div class="controls">
	      <%= f.file_field :image, :class => 'file_field' %>
	    </div>
	  </div>
	  
	  <br/>
	  
	  <div class="form-actions">
	    <%= f.submit nil, :class => 'btn btn-primary' %>
	    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                products_path, :class => 'btn' %>
	  </div>
	<% end %>
  </div>
</div>  
    
<br/>
  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Detail Images</h3>
  </div>
  <div class="panel-body">
      <% @product.images.each do |image| %>
      	<%= image %>	      
      <% end %>

	  <h5>Add a image:</h5>
	  <%= form_for([@product, @product.images.build]) do |f| %>
	    <div class="control-group">
	      <%= f.label 'image', :class => 'control-label' %>
	      <div class="controls">
	        <%= f.file_field :image, :class => 'file_field' %>
	      </div>
	    </div>
	    
	    <br/>
	
	    <div class="form-actions">
	      <%= f.submit nil, :class => 'btn btn-primary' %>
	      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                  images_path, :class => 'btn' %>
	    </div>
	  <% end %>  
  </div>
</div>  
  

