
<div class="row">
	<%= form_for @product, :html => { :class => 'form-vertical col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3' } do |f| %>
	
	<% if @product.id %>
	<div class="form-group">
		<label for="product_id">ID</label>
		<input class="form-control" id="product_id" name="product[id]" type="text" value="<%=@product.id%>" disabled>
	</div>
	<% end %>			

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, :class => 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :description, :class => 'control-label' %>
		<%= f.text_area :description, :class => 'form-control', :style => 'height:300px;' %>
	</div>
	
	<div class="form-group" style="display:none;">
		<%= f.label :price %>
		<div class="input-group">
			<span class="input-group-addon">$</span>
			<%= f.text_field :price, :class => 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :category %>
		<%
			cat_options = [
				[categoryTitle(100).titleize, 100], [categoryTitle(110).titleize, 110],
				[categoryTitle(200).titleize, 200], [categoryTitle(300).titleize, 300]
			]
		%>
		<%= f.select(:category, cat_options, {}, {:class => "form-control"}) %>
	</div>

	<div class="form-group">
		<%= f.label :season %>
		<%= f.text_field :season, :class => 'form-control' %>
	</div>

	<br/>

	<div class="form-actions">
		<%= f.submit nil, :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
		product_path(@product), :class => 'btn' %>
	</div>
	<% end %>
</div>

<br/>

<% if @product.id %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Detail Images</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<% @product.images.each do |image| %>
			<div class="col-xs-3 col-md-3">
				<a href="#" class="thumbnail"><%= image_tag image.image.url(:thumb) %></a>
			</div>
			<% end %>
		</div>				

	</div>
	<div class="panel-footer">

		<%= form_for([@product, @product.images.build]) do |f| %>
		<div class="control-group">
			<%= f.label 'add a image', :class => 'control-label' %>
			<div class="controls">
				<%= f.file_field :image, :class => 'file_field' %>
			</div>
		</div>
		
		<br/>

		<div class="form-actions">
			<%= f.submit nil, :class => 'btn btn-primary' %>
		</div>
		<% end %>
	</div>
</div>
<% end %>

