<%- model_class = Product -%>

<%
cat = controller.params[:cat]
season = controller.params[:season]
%>
<div class="page-header">
	<h3><%= cat == nil ? "Products" : cat.pluralize.titleize %>
		<small><span class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= season == nil ? "All" : season %> <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li>
					<a href="<%= products_path + (cat == nil ? "" : "?cat=" + cat) %>">All</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="<%=products_path%>?season=13/FW<%= cat == nil ? "" : "&cat=" + cat %>">13/FW</a>
				</li>
				<li>
					<a href="<%=products_path%>?season=14/SS<%= cat == nil ? "" : "&cat=" + cat %>">14/SS</a>
				</li>
			</ul>
		</span> </small>
	</h3>
</div>

<div class="row">
	<% @products.each do |product| %>

	<div class="col-sm-3 col-md-3">
		<div class="thumbnail">
			<%= link_to image_tag(product.image.url), product_path(product) %>
			<div class="caption">
				<h4 class="text-center"> <%= link_to product.name, product_path(product) %> </h4>

				<p>
					<%= product.description %>
				</p>
			</div>
		</div>
	</div>

	<% end %>
</div>

<!--

<table class="table table-striped">
<thead>
<tr>
<th><%= model_class.human_attribute_name(:id) %></th>
<th><%= model_class.human_attribute_name(:name) %></th>
<th><%= model_class.human_attribute_name(:description) %></th>
<th><%= model_class.human_attribute_name(:price) %></th>
<th><%= model_class.human_attribute_name(:category) %></th>
<th><%= model_class.human_attribute_name(:season) %></th>
<th><%=t '.actions', :default => t("helpers.actions") %></th>
</tr>
</thead>
<tbody>
<% @products.each do |product| %>
<tr>
<td><%= link_to product.id, product_path(product) %></td>
<td><%= product.name %></td>
<td><%= product.description %></td>
<td><%= product.price %></td>
<td><%= product.category %></td>
<td><%= product.season %></td>
<td>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
edit_product_path(product), :class => 'btn btn-mini' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
product_path(product),
:method => :delete,
:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
:class => 'btn btn-mini btn-danger' %>
</td>
</tr>
<% end %>
</tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
new_product_path,
:class => 'btn btn-primary' %>

-->
