<%- model_class = Product -%>

<%
  cat = controller.params[:cat]
  season = controller.params[:season]
%>

<div class="panel panel-default">

	<div class="panel-heading">
		<h3>
			<%= categoryTitle(cat.to_i).pluralize.titleize %>
			<small>
				<span class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<%= season == nil ? "All" : season %> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="<%= products_path + (cat == nil ? "" : "?cat=" + cat) %>">All</a></li>
						<li class="divider"></li>
						<li><a href="<%= products_path%>?season=13/FW<%= cat == nil ? "" : "&cat=" + cat %>">13/FW</a></li>
						<li><a href="<%= products_path%>?season=14/SS<%= cat == nil ? "" : "&cat=" + cat %>">14/SS</a></li>
					</ul>
				</span>
			</small>
		</h3>
		<% if @_admin %>
		<%= link_to t('.new', :default => t("helpers.links.new")), new_product_path, :class => 'btn btn-primary' %>
		<% end %>
	</div>
	
	<div class="panel-body">
		<div class="row">		
		<% @products.each.with_index(0) do |product, i| %>
		<!-- <% if(i%4 == 0) %>
		<div class="row">
		<% end %> -->
			<div class="product_list_item col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="thumbnail">
					<div class='product_img'>
						<% if product.images.length > 0 %>
						<%= link_to image_tag(product.images[0].image.url), product_path(product) %>
						<% end %>
					</div>
					<div class="caption">
						<h4 class="text-center"> <%= link_to product.name, product_path(product) %> </h4>
					</div>
				</div>
			</div>
		<!-- <% if(i%4 == 3) %>			
		</div>
		<% end %> -->
		<% end %>
		</div>
	</div>
</div>
