<%- model_class = Product -%>

<div class="panel panel-default">
	<div class="panel-body">

		<div class="page-header">
			<h2><%= @product.name %><small class="pull-right"><%= @product.season %></small></h1>
		</div>

		<div class="row">
			
			<!-- 상품 이미지 -->
			<div class="col-md-7">
				
				<!-- 메인 carousel -->
				<div id="myCarousel" class="carousel slide thumbnail">					
				    <div class="carousel-inner">
						<% @product.images.each.with_index(0) do |image, i| %>  	
						<div class="item <%= i==0 ? 'active' : '' %>">
							<%= image_tag image.image.url, :class => 'img-responsive center-block' %>    	
						</div>
				      	<% end %>
				  	</div>
					<!-- Controls -->
					<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon-prev"></span></a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon-next"></span></a>  
				</div>				
								
				<!-- carousel indicator -->
				<div class="row">
					<% @product.images.each.with_index(0) do |image, i| %>
					<div class="col-xs-3 col-md-3">
					<a data-target="#myCarousel" data-slide-to="<%= i %>" class="thumbnail">
						<%= image_tag image.image.url(:thumb) %>
					</a>
					</div>
					<% end %>					
				</div>
			</div>

			<!-- 상품 설명 -->
			<div class="col-md-5">
				<dl class="dl-vertical">
					<dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
					<dd><%= @product.description %></dd>

					<!-- <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
					<dd><%= @product.price %></dd> -->
				</dl>
			</div>
		</div>


		<% if @_admin %>
		<div class="form-actions">
			<%= link_to t('.back', :default => t("helpers.links.back")),
			products_path, :class => 'btn'  %>
			<%= link_to t('.edit', :default => t("helpers.links.edit")),
			edit_product_path(@product), :class => 'btn' %>
			<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			product_path(@product),
			:method => 'delete',
			:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			:class => 'btn btn-danger' %>
		</div>
		<% end %>

	</div>
</div>
