<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Syllabus" %></title>
		<%= csrf_meta_tags %>

		<%= javascript_include_tag "application", :cache => false %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
		<![endif]-->

		<%= stylesheet_link_tag "application", :media => "all" %>

		<!-- For third-generation iPad with high-resolution Retina display: -->
		<!-- Size should be 144 x 144 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

		<!-- For iPhone with high-resolution Retina display: -->
		<!-- Size should be 114 x 114 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

		<!-- For first- and second-generation iPad: -->
		<!-- Size should be 72 x 72 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<!-- Size should be 57 x 57 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

		<!-- For all other devices -->
		<!-- Size should be 32 x 32 pixels -->
		<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

	</head>

	<body>

		<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
			<div class="container">
				<div class="separator"></div>
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="../" class="navbar-brand">Syllabus</a>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li>
							<a href="/philosophy">Brand Philosophy</a>
						</li>
						<li>
							<a href="/designer">Designer</a>
						</li>

						<li class="<%= controller.controller_name == 'products' ? 'active' : '' %> dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to "ALL", "/products" %>
								</li>
								<li class="divider"></li>
								<li>
									<%= link_to "EVENING CLUTCH", "/products?cat=clutch" %>
								</li>
								<li>
									<%= link_to "CONVERTIBLE CLUTCH", "/products?cat=clutch" %>
								</li>
								<li>
									<%= link_to "CONVERTIBLE TOTE SHOULDER", "/products?cat=tote" %>
								</li>
								<li>
									<%= link_to "BELTS", "/products?cat=belt" %>
								</li>
							</ul>

						</li>
						<li>
							<a href="/press">Press</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="../about"> About</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<%= yield %>
				</div>
			</div>
		</div>
		<!-- /container -->

	</body>
</html>
